
body{
    background-image: url("Enee.jpg");
    font-family: sans-serif;
    font-size: 22px;
    /*background-color: #00BFFF;*/
   color: #000000;
   font-weight: normal;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}


h1{
    color: darkred;
}

h2{
    color:forestgreen;
}

p{
    color: rgba(50, 3, 51, 0.685);
}

a:link{
    color:#06624e;
}

a{
   color: #0000FF;
   text-decoration: underline;
}

a:visited{
   color: #800080;
}a:active
{
   color: #FF0000;
}

a:hover{
   color: #0000FF;
   text-decoration: underline;
}

input:focus, textarea:focus, select:focus
{
   outline: none;
}

#Sucursales{
   background-clip: padding-box;
   background-color: #804000;
  /* background-image: none;*/
   border: 0px solid #CCCCCC;
}

label{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: bold;
   font-size: 20px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}

text{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 20px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#text:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}

button{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}

image{
   vertical-align: top;
   border: 0px solid #000000;
   padding: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

table{
   background:#33FFFF;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   /*width: 100%;
   height: 100%;*/
}

#visor_imagenes {
   text-align: center;
 }

.blanco-rojo {
   color: #FFFFFF;
   background-color: red;
 }